.head__wrapper {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.head__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(37, 43, 73, 0.8);
    z-index: 1;
}

.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border-bottom: 1px solid #BABBC5;
        z-index: 2;

        @media (max-width:1280px) {
            max-width: 984px;
        }

        @media (max-width:1024px) {
            padding: 0 0 0 20px;
            justify-content: space-between;
            border-bottom: none;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        font-weight: 700;
        font-size: 20px;
        color: #656980;

        &>span {
            width: 60px;
            font-weight: 300;
            color: #FFFFFF;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;

        @media (max-width:1280px) {
            margin-left: 0;
        }

        @media (max-width:1024px) {
            display: none;
        }

        &>li {
            width: 134px;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: #FFFFFF;

            &>a {
                display: flex;
                justify-content: center;
                padding: 36px 0 32px;
                color: #FFFFFF;

                &:hover {
                    color: #e6e6e6;
                    padding: 36px 0 29px;
                    border-bottom: 3px solid #BABBC5;
                }
            }
        }
    }
}

.header-navigation-burger {
    padding: 19px 16px;
    display: none;
    cursor: pointer;

    @media (max-width:1024px) {
        display: flex;
    }

    &__block {
        width: 24px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        background-color: #ffffff;
        height: 3px;
    }
}